@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgb(189, 187, 187);
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 56);
}

.grid {
  display: grid;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.pagination_item a {
  display: inline-block;
  padding: 4px 13px;
}

.pagination .pagination_item:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}

.pagination_active {
  border-radius: 3px;
  background-color: #4cb050;
  color: white;
}

.order-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -12px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  box-shadow: 7px 7px 0 0 #f3f4f6;
}

.order-current::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -12px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  box-shadow: -7px 7px 0 0 #f3f4f6;
}
