@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 11px;
}

.pagination_item {
  padding: 4px 13px;
  border-radius: 3px;
}

.pagination .pagination_item:hover {
  background-color: #e5e5e5;
}

.pagination_active {
  background-color: #4cb050;
  color: white;
}
