.grid_container {
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.grid_left {
  grid-column: span 2 / span 2;
}

.grid_right {
  grid-column: span 10 / span 10;
  padding: 30px;
}

.menu-item-sub {
  display: none;
}

.menu-item:hover .menu-item-sub {
  display: block;
}

@media screen and (max-width: 1024px) {
  .mobile-hidden {
    display: none !important;
  }
}
